#app-container {
    margin-top: 20px;
}

body {
    font: 10px sans-serif;
}

.arc path {
    stroke: #fff;
}

g.legend.off {
    display: none;
}

g.legend.on {
    display: block;
}

.draw-button {
    margin: 2%;
}

.container {
}

text.item, textPath.legend {
    font-size: 1.5em;
    font-weight: bolder;
}

polygon.item {
    stroke: #000;
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

polygon.item.active {
    opacity: 0.1;
}

input.input {
    margin: 0 0 0 0;
    font-size: x-small;
    height: 1rem;
}

tr.input, td.input {
    height: 1em;
    padding: 0;
}

a.input:hover {
    cursor: hand;
}

i.material-icons {
    font-size: 1.5em;
}

.invisible {
    visibility: hidden;
}

.logo {
    display: inline-block;
}

 /*KOBALTBLAU*/

.kobaltblau, .iteratec {
    font-size: 12px;
}

.kobaltblau h1 {
    display: inline-block;
    color: #3732F5;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left:5rem;
}

.kobaltblau .switch {
    color: #3732F5;
}

.kobaltblau .switch:hover {
    cursor: pointer;
}

.kobaltblau h2 {
    color: #3732F5;
    font-size: 1.4rem;
}

.kobaltblau input.input, .iteratec input.input {
    font-size: small;
}

.kobaltblau input.input:hover {
    color: #3732F5;
}

.kobaltblau .input .material-icons {
    color: #d3d3d3;
}

.kobaltblau .input .material-icons:hover {
    color: #3732F5;
}

.kobaltblau #btn-reset {
    margin-top: 2rem;
    margin-left: 1rem;
    background: #d3d3d3;
    color: #3732F5;
    font-weight: 600;
}

.kobaltblau input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3732F5;
    box-shadow: 0 1px 0 0 #3732F5;
}

/*Iteratec*/
.iteratec h1 {
    color: #A92183;
    font-weight: 600;
    letter-spacing: 2px;
    font-size:34px;
    display: inline-block;
}

.iteratec .switch {
    color: #A92183;
}

.iteratec .switch:hover {
    cursor: pointer;
}

.iteratec h2 {
    color: #A92183;
    font-size: 1.4rem;
}
.iteratec input.input:hover {
    color: #A92183;
}

.iteratec .input .material-icons {
    color: #d3d3d3;
}

.iteratec .input .material-icons:hover {
    color: #A92183;
}

.iteratec #btn-reset {
    margin-top: 2rem;
    margin-left: 1rem;
    background: #d3d3d3;
    color: #A92183;
    font-weight: 600;
}

.iteratec input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #A92183;
    box-shadow: 0 1px 0 0 #A92183;
}

.toggle {
    position: absolute;
    top: 300px;
    border: none;
    height: 2rem;
    width: 2rem;
    color: #fff;
}

.toggle.left {
    left: 400px;
}

.toggle.right {
   right: 400px;
}

.kobaltblau .toggle.left, .kobaltblau .toggle.right {
     background: #3732F5;
}
.iteratec .toggle.left, .iteratec .toggle.right {
    background: #A92183;
}

.menu {
    width: 400px !important;
    position: fixed;
    top: 100px;
    bottom: 0;
    background: #fdfdfd;
    transition: all 0.5s ease;
}

.menu.left {
    left: -400px !important;
    border-width: 1px 1px 1px 0;
    border-color: #000;
    border-style: solid;
}

.menu.right {
    right: -400px !important;
    border-width: 1px 0px 1px 1px;
    border-color: #000;
    border-style: solid;
}
.menu.left.show-left {
    left: 0px !important;
}

.menu.right.show-right {
    right: 0px !important;
}

#content {
    margin-left: 5rem;
}

.container_canvas {
    overflow: hidden;
}
